@import "./include-media.scss";

$lightgray: rgb(221, 221, 221);
// $link-color: #4A7763; // rgb(0, 0, 0);
$link-color: #00a7e1;

/* Reset */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
pre {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Styles */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: darken($link-color, 5);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  a {
    text-decoration: none;
  }
}

h1 {
  font-size: 2rem;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

h2 {
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}

h3 {
  margin-top: 1em;
  margin-bottom: 1em;
}

h4 {
  margin-top: 1.33em;
  margin-bottom: 1.33em;
}

h5 {
  margin-top: 1.67em;
  margin-bottom: 1.67em;
}

h6 {
  margin-top: 2.33em;
  margin-bottom: 2.33em;
}

p {
  margin: 1em 0;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 15px;

  @include media(">=desktop") {
    width: 960px;
    padding: 0;
    margin: 0 auto;
  }

  .sticky-push {
    flex: 1;
  }
}

.header {
  margin: 1.33rem 0 1.67rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .site-title {
    margin: 0;

    a {
      font-family: Helvetica, Arial, serif;
      font-size: 1.5rem;
      color: black;
    }
  }

  .nav {
    ul {
      list-style: none;
      display: flex;

      li {
        margin-left: 5px;

        a {
          font-family: Helvetica, Arial, serif;
          font-weight: bold;
          font-size: 0.9em;
          padding: 3px;
        }
      }
    }
  }
}

.main {
  line-height: 1.5;

  // > *:last-child {
  //   margin-bottom: 0;
  // }
}

.footer {
  margin: 1rem 0;
  font-size: 0.9em;
}

.hero-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 300px;
  gap: 1.5em;

  .hero-card {
    padding: 1em;
    overflow: hidden;

    &.sky-blue {
      background: #ADF5FF;
      background: linear-gradient(0deg, transparent 0%, #ADF5FF 100%);
    }

    &.neon-green {
      background: #6CDDBA;
      background: linear-gradient(0deg, transparent 0%, #6CDDBA 100%);
    }

    &.purple {
      background: #C4B4DB;
      background: linear-gradient(0deg, transparent 0%, #C4B4DB 100%);
    }

    &.red {
      background: #ED6A5A;
      background: linear-gradient(0deg, transparent 0%, #ED6A5A 100%);
    }

    h2, p {
      margin-top: 0;
      margin-bottom: 0.33em;
    }
  }
}
