[{:slug "orchard-loop"
  :ride-with-gps 31864371
  :title "Orchard Loop"
  :source "Devil's Gear"
  :distance 23
  :climbing 1270
  :description "<p>This classic Devil's Gear route climbs up into an apple orchard at its midpoint.</p>"}
 {:slug "ridge-road"
  :ride-with-gps 31864457
  :title "Ridge Road (Sleeping Giant)"
  :stub true
  :source nil
  :distance 8
  :climbing 444
  :description "
<p>
  Ridge Road [+ Davis Road + New Road] is the standard way to travel
  to/from Sleeping Giant State Park. Most 20mi+ routes vaguely north of New Haven will include this stub. Ideas from there:
</p>
<ul className=\"bulleted\">
  <li>Hike at Sleeping Giant State Park.</li>
  <li>
    Ride up the classic
    <a
      href=\"https://ridewithgps.com/routes/31864474\"
      title=\"Kimberly Ave Climb on RideWithGPS\"
    >
      Kimberly Ave Climb
    </a>
    for an amazing view (+ chill on chairs at the top).
  </li>
  <li>
    Go to
    <a href=\"https://www.mikrodepot.com/\" title=\"MiKro Depot\">
      MiKro
    </a>
    (if you're into beer).
  </li>
  <li>
    Pet the animals (when it's warm) or go ice skating (when it's cold)
    at
    <a href=\"http://www.brooksvalepark.com/\" title=\"Brooksvale Park\">Brooksvale Park</a>.
  </li>
  <li>
    If you're into riding with 25-60 other people at 24mph, check out
    the
    <a href=\"http://www.cheshirecycle.com/group-and-shop-rides.html\" title=\"Sleeping Giant Ride\" >Sleeping Giant Ride</a>!
    Racers only.
  </li>
  <li>
    Ride back the same way, or on the Farmington Canal Trail (~16mi
    round trip).
  </li>
</ul>
"}
 {:slug "shoreline-east"
  :ride-with-gps 31864104
  :title "Shoreline East"
  :stub true
  :source nil
  :distance 21
  :climbing 988
  :description "
<p>
  This segment has become the standard way to travel to/from almost all
  routes east of New Haven, due to a few big obstacles (traffic, two
  large protected water areas, and I-95) that complicate all other
  options.
</p>
<p>
  There's a lot of ideal riding that opens up once you get to the end of
  this stub (the Guilford green). You can explore the backroads of
  quaint Connecticut towns (Madison, Clinton, Killingworth, Westbrook,
  Chester, etc). Or if you're trying to get back earlier, you can take
  Route 77 straight north to Durham, then find your way back from there.
  In a pinch, you can always take the Shore Line East
  <a href=\"https://shorelineeast.com\" title=\"Shore Line East train\">
    train
  </a>
  back to New Haven.
</p>
<p>
  Please note that this variation takes you on the
  <em>Branford Trolley Trail</em> through the
  <em>Pine Orchard Marsh Wildlife Area</em>. This is a short, super
  scenic, fine-gravel trail that should be suitable for most bikes
  (including skinny-tire road bikes). However, if it's a wet day or
  you're trying to maximize speed, it's best to skip it by continuing on
  Totoket Road at mile 14.9 until you reach Route 146. Take a right at
  the three-way junction and continue on 146 until you rejoin the route.
</p>
"}
 {:slug "lighthouse-point"
  :ride-with-gps 31864282
  :title "Lighthouse Point"
  :source nil
  :distance 14
  :climbing 513
  :description "
<p>Quick loop to the beach!</p>
<p>You don't have to pay any fees if you're riding in on your bike.</p>
"}
 {:slug "yale-loop"
  :ride-with-gps 1229657
  :title "Yale Loop"
  :source "Yale Cycling"
  :distance 54
  :climbing 2089
  :description "
<p>
  The Yale Loop one of two standard routes ridden on the Yale Saturday
  Ride (the two diverge around mile 19 at Time Out Tavern).
</p>
<p>
  While it is also a common route for ~50 mile solo rides, there are
  safer / more scenic choices. If you do decide to ride it alone, watch
  out for cars on the long stretch of Route 17 (Middletown Ave). Don't
  forget to stop for coffee at Cilantro on the Guilford Green!
</p>
<p>
  Learn more on Yale Cycling's website
  <a href=\"http://www.yalecycling.org/ride-maps\" title=\"Yale Cycling Ride Maps\" >here</a>.
</p>
"}
 {:slug "little-city"
  :ride-with-gps 915251
  :title "Little City"
  :source "Yale Cycling"
  :distance 73
  :climbing 3330
  :description "
<p>
  Little City is one of two standard routes ridden on the Yale Saturday
  Ride (the two diverge around mile 19 at Time Out Tavern).
</p>
<p>
  The middle ~20-mile southbound section features scenic Connecticut
  backroads. It's followed by a cruise back on the shoreline. Don't
  forget to stop for coffee at Cilantro on the Guilford Green!
</p>
"}
 {:slug "east-rock"
  :ride-with-gps 31863889
  :title "East Rock"
  :source nil
  :distance 7
  :climbing 568
  :description "
<p>
  A classic! This route will take you up the \"back way\" and down the
  \"front way\" (counter-clockwise), but it's frequently ridden the other
  way too!
</p>
<p>
  The back way is closed to traffic year-round, but watch out for
  hikers.
</p>
<p>
  The front way is closed to traffic during the winter only. If you're
  looking to train, it's common to do hill repeats on the front way
  (start at the parking lot gate, loop around the monument at the top,
  then descend back to the parking lot gate and repeat).
</p>
"}
 {:slug "baldwin-drive"
  :ride-with-gps 31863999
  :title "Baldwin Drive (West Rock)"
  :source nil
  :distance 19
  :climbing 1291
  :description "
<p>
  Baldwin Drive runs along the ridge of West Rock Ridge State Park. It
  is closed to motor vehicle traffic. While it is paved, it hasn't been
  maintained in decades, so be prepared for a flat just in case!
</p>
"}
 {:slug "milford-loop"
  :ride-with-gps 20290248
  :title "Milford Loop"
  :source "Andrew Suzuki"
  :distance 29
  :climbing 1293
  :description "
<p>
  This route hugs the shoreline west of New Haven with scenic views of
  the ocean. After an espresso stop in Milford, it'll lead you on a
  cruise through Orange before sending you flying back into New Haven on
  Fountain St. If you're looking to avoid a lot of climbing, this is
  your route!
</p>
"}
 {:slug "holiday-hill"
  :ride-with-gps 27086506
  :title "Holiday Hill"
  :source "Andrew Suzuki"
  :distance 33
  :climbing 1961
  :description "
<p>
  Quick loop through Woodbridge/Bethany with a fast descent down Route
  42 (Holiday Hill). This is Andrew's favorite 30 mile ride.
</p>
"}
 {:slug "middlebury-loop"
  :ride-with-gps 20750264
  :title "Middlebury Loop"
  :source "Andrew Suzuki"
  :distance 66
  :climbing 4217
  :description "
<p>
  This is a fantastic route, a bit longer than a metric century. It has
  considerably lower motor traffic than the New Haven Metric Century
  route. It is the <em>quietest</em> 60-70mi route I could come up with
  while staying on paved roads. Scenic, but you'd better bring your
  climbing legs!
</p>
<p>
  There's a short segment of gravel at mile 20.6. I've taken riders with
  skinny-tire road bikes on it with no problem, but if you're worried,
  it can be bypassed easily by continuing on Quaker Farms Road (Route
  188) until you rejoin the route.
</p>
"}
 {:slug "bsbc-sunday-hills"
  :ride-with-gps 23125016
  :title "BSBC Sunday Hills"
  :source "BSBC"
  :distance 43
  :climbing 3626
  :description "
<p>
  This route goes down and up through not one, not two, but
  <em>three</em> river valleys. There's a fair bit of climbing, but it
  will pay off as you're guided through scenic farmland and some
  interesting microclimates.
</p>
<p>
  There's a gas station around mile 22 if you need to fill your water
  bottles. Shortly after that, there's a short bridge over a dam without
  a shoulder -- ride fast!
</p>
"}
 {:slug "new-haven-century"
  :ride-with-gps 22690382
  :title "New Haven Century"
  :source "NHBC"
  :distance 100
  :climbing 4395
  :description "
<p>
  This is the classic New Haven Century route! It probably isn't the
  most scenic century you can do from New Haven, but it hits all of the
  classic spots within a 15-mile radius, and it's fairly predictable
  (which is probably what you want when riding 100 miles)!
</p>
"}]
